.main {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/static/images/weather.jpg") center center;

  color: Black;
  height: 1200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
img {
  background: black;
  opacity: 0.5;
}
.mains {
  position: absolute;

  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 80%;
  height: 80%;
  margin: auto;

  text-align: center;
}
.feels-like {
  justify-content: center;
  font-weight: bold;
  color: #0b7ce9;
  font-size: 20px;
}
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}
.contents .card {
  width: 30rem;
  justify-content: center;
  text-align: center;
  border-radius: 22px;
  background-color: #afc8db;
}
@media only screen and (max-width: 1024px) {
  .mains {
    height: 40%;
  }
}
@media only screen and (max-width: 425px) {
  .contents .card {
    width: 20rem;
  }
}
